<!doctype html>

<div class=" w3-blue">

<title>We Love Food</title>

<h1>Welcome</h1>
<span>Do you have an account?  <a href={{url_for('login')}}>Login Here</a></span>

<p>You don't? <a href={{url_for('sign_up')}}> Sign up Here</a></p>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href={{url_for('static', filename='w3.css')}}>



<div class="w3-container w3-orange" class = 'Recipe'>
<a href={{url_for("all_recipes")}}>SEE ALL</a>
	{% for recipe in recipes %}
	<br>
	<br>

	<b>{{recipe.name}}</b><br>
	<div class="w3-card-12" style="width:50%">
	<img src = '{{recipe.photo}}' width = 300>
	 </div>
	{% endfor %}

</div>
</body>